.our{
    padding: 80px;
    box-sizing: border-box;
  }
.services{
    padding:15px 9%;
    padding-bottom: 100px;
}
.services h1{
    text-align:center;
    color:darkblue;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 30px;
    font-size: 40px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    line-height: 0.8;
    font-family:italic;
}
.services-page{
    max-width: 1200px; 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
    justify-content: center;
}
.service-card{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 30px;
    background-color:white;
    text-align: center;
    padding: 25px 25px;
}
.service-card:hover {
    transform: translateY(-3px);
    transition: all 0.5s ease-in-out;
    background-color:pink;
  }  
.service-card h2{
    color:darkblue;
    font-size: 25px;
    padding: 10px 0;
    text-transform: capitalize;
}
.service-card p{
    color:#444;
    font-size: 15px;
    font-family: 'poppins',sans-serif;
    line-height:1.8;
    margin-left: 10px;
    text-align: justify;
} 
.cards {
    grid-column: 1 / 4;
    max-width: 800px; 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
    justify-content: center;
    padding-left: 200px;
  }
Button{
    margin-left:60px;
}
Button :hover{
    transform: scale(1.02);
}

  
  
