.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}
.left {
  flex-basis: 50%;
  padding: 10px;
}
.right {
  flex-basis: 50%;
}
.abc {
  color:darkblue;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 30px;
  font-size: 40px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  line-height: 0.8;
  font-family:italic;
}
.c {
  font-size: 30px;
  margin-left: 10px;
  line-height: 0.8;
  font-family:cursive;
  font-weight: light;
}
.description {
  text-align:justify;
  color: darkblue;
  line-height: 1.5;
  margin-left: 45px;
  font-family: 'poppins',sans-serif;
  font-size: 20px;
  width: 700px; 
  height: auto;
}
Button{
  float:left;
  font-size: 55px;
  margin: 4px 2px;
  margin-left: 50px;
  cursor: pointer;
  border-radius: 80px;
  font-family: 'poppins',sans-serif;
}
.right img {
  width: 70%;
  height: auto;
  border-radius: 10px;
}