.contactus{
  margin-left:50px;
  float:left;
  margin-top: 20px;
}
.info{
  text-align:left;
  margin-left:90px;
}
.info h2{
  text-transform: uppercase;
  color: black;
  font-size: 30px;
  font-family: Libre Baskerville;
  line-height:0.5 ;
}
.info p{
  font-size: 21px;
  font-family: 'poppins',sans-serif;
  width:700px;
  text-align: justify;
  color: darkblue;
  margin-left:15px;
  line-height: 1.5;
}
.info h3{
  font-size: 21px;
  font-family: 'poppins',sans-serif;
  margin-left:15px;
  line-height: 0.5;
  color: darkblue;
}
.connect{
  text-align:left;
  margin-left:100px;
}
.icon{
  display: flex;
  gap:10px;
  margin-left: 10px;
}
.icon svg:hover {
  transform: scale(1.1);
}

.connect h3{
  font-size:25px;
}
.contact-img{
  margin-top: 150px;
}
.contact-form{
  text-align:right;
  margin-right:400px;
}
.contact-form h1{
  text-transform: uppercase;
  color: darkblue;
  font-family: Libre Baskerville ;
}
.contact-form form{
  margin-left: 1000px;
  display: flex;
  width: 350px;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color:rgba(239, 18, 55, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input{
  width: 120%;
  height:auto;
  padding: 15px;
  margin-bottom: 20px;
  border: 2px solid black;
  border-radius: 20px;
  margin-right:50px;
}
textarea{
    width: 120%;
    height: 100px;
    padding: 15px;
    border: 2px solid black;
    border-radius: 20px;
    margin-right:50px;
}
.b{
  margin-left: 150px;
}
